<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php" backupGlobals="false">
    <testsuites>
        <testsuite name="My Test Suite">
            <directory suffix="Test.php">./src</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../src</directory>
        </whitelist>
    </filter>
</phpunit>